.container {
    margin: auto;
    width: 100%;
    max-width: 1440px;
}

.main_header {
    width: 90%;
    margin: auto;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.main_logo {
    width: 87px;
    height: 27px;
}
.header_ul{
    display: flex;
    gap: 30px;
}

.main_nav_title {
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.1px;
}

.action_button {
    border-radius: 32px;
    display: flex;
    padding: 12px 24px;

    background-color: black;

}

span {
    color: white;
}

.burger_menu{
    display: none;
}