@media (max-width: 900px) {
    .section1_cards {
        gap: 24px;

    }

    .section_cards_head {
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 48.5px;
        letter-spacing: -1px;
    }


    .section1_text {
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;

    }

    .cards_text {
        max-width: 696px;
        width: 80%;
        margin-bottom: 24px;
    }


    .section1_subtext {
        display: block;

    }

    /* section2 */

    .section2_title {
        flex-wrap: wrap;
        gap: 19px;
    }

    
    .section2_head {
        max-width: 696px;
        width: 100%;
        text-align: center;
    }

    .section2_text {
        max-width: 696px;
        width: 100%;
        text-align: center;
    }

    .section2_texthead{
        padding: 10px 0;
    }

    /* section3 */

    .section3 {
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.setion3_bords{
    margin: auto;
   
    justify-content: center;
}
.section3_bords_header{
   margin: auto;
   justify-content: center;
}
}